{% extends "layout.html" %}

{% block title %}

results

{% endblock %}


{% block main %}

<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">إشتباه في إصابتك</h4>
  <p>قم حالاً بإجراء العزل الذاتي لحين التواصل مع لأخذ عينة</p>
  <hr>
  <p class="mb-0">في حالة زيادة الأعراض ..قم بالاتصال علي الخط الساخن (105) ..والتزم بتعليمات العزل المنزلي حتي يتم التواصل معك .</p>
</div>

<div class="prevention">
  <h4 class="heading-of-precautions">ألية العزل السليم:</h4>
    <ul class="list-of-precautions">
      <li>
        <p>عدم الخروج من المنزل طوال فترة العزل المنزلي.</p>
      </li>

      <li>
        <p> تخصيص مكان بالمنزل نظيف وجيد التهوية، وتجنب جميع الزيارات والأنشطة الاجتماعية.</p>
      </li>

      <li>
        <p> عدم التنقل كثيرا من المكان المخصص للعزل إلى مكان آخر.</p>
      </li>

      <li>
        <p> العزل يستمر لمدة 14 يومًا من تاريخ آخر اختلاط مباشر أو غير مباشر مع الحالات المصابة بفيروس كورونا المستجد.</p>
      </li>

      <li>
        <p> يجب على المصاب ارتداء كمامة تناسب الوجه خاصة عند التعامل مع أحد أفراد الأسرة، والتخلص منها بعد الاستخدام بوضعها داخل كيس مغلق وإلقائه في سلة المهملات.</p>
      </li>

      <li>
        <p> تغطية الأنف والفم أثناء العطس أو الكحة بمنديل ورقي والتخلص منه بوضعه داخل كيس مغلق وإلقائه بسلة المهملات.</p>
      </li>

      <li>
        <p>غسل اليدين باستمرار بالماء والصابون لمدة 20 ثانية على الأقل أو تدليك اليدين بمطهر كحولي.</p>
      </li>

      <li>
        <p>تناول وجبات الطعام بشكل منفصل عن أفراد الأسرة، واتباع نظام غذائي متوازن.</p>
      </li>

      <li>
        <p>شرب الماء الدافئ بدلًا من المشروبات الباردة.</p>
      </li>

      <li>
        <p>-عدم مشاركة الأدوات المنزلية الشخصية مثل الأطباق أو الأكواب أو المناشف مع أفراد الأسرة.</p>
      </li>

      <li>
        <p> يجب غسل الأدوات المستخدمة جيدًا بالماء والصابون مع ضرورة ارتداء قفازات مطاطية أثناء الغسل.</p>
      </li>

      <li>
        <p> يجب تنظيف جميع الأسطح التي يتم لمسها كثيرًا مثل (أجهزة الكمبيوتر المشتركة، مقابض الأبواب، الهواتف المنزلية، تجهيزات الحمام، الطاولات بجانب السرير).</p>
      </li>

      <li>
        <p>عدم الإفراط في تناول المضادات الحيوية.</p>
      </li>

      <li>
        <p> ضرورة قياس الحرارة كل 8 ساعات للشخص المعزول، وإذا ظهرت عليه أعراض صعوبة في التنفس أو إسهال أو ارتفاع في درجة حرارة الجسم.</p>
      </li>

      <li>
        <p>البقاء على بعد مترين على الأقل فى حالة ضرورة الاختلاط مع أفراد الأسرة.</p>
      </li>

      <li>
        <p> استخدام غرفة منفصلة للنوم وحمام منفصل إذا كان متاحًا.</p>
      </li>

      <li>
        <p> التهوية الجيدة للمنزل.</p>
      </li>
    </ul>
</div>

<div class="logout-btn">
  <a class="btn btn-primary" href="/logout" role="button">خروج</a>
</div>


{% endblock %}