<!DOCTYPE html>
<html dir="rtl" lang="ar">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            
        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
            
        <!-- https://favicon.io/emoji-favicons/money-mouth-face/ -->
        <link href="/static/lung.png" rel="icon">
            
        <link href="static/styles.css" rel="stylesheet">
            
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <title>ساعدنا في منع انتشار كورونا:  {% block title %}{% endblock %}</title>

    </head>
    <body>

        <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
            <div class="container">
                <a class="navbar-brand" href="/">ساعد في منع انتشار الوباء</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                        <a class="nav-link" href="/precautions">إرشادات الوقاية <span class="sr-only">(current)</span></a>
                        <a class="nav-link" href="/quarantine">آليات العرل <span class="sr-only">(current)</span></a>
                        </li>
                        {% if session.user_id %}
                            <li class="nav-item">
                            <a class="nav-link" href="/logout">تسجيل الخروج</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="/register">التسجيل</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/login">تسجيل الدخول</a>
                            </li>
                        {% endif %}
                    </ul>
                    <span class="navbar-text">
                        #إلزم_بيتك
                    </span>
                </div>
            </div>
        </nav>
          
          <main class="container p-5">
            {% block main%}{% endblock %}
          </main>
          
          <footer>
                <div class="container p-5">
                    <div>contact:</div>
                    <div>facebook:</div>
                    <div>Hot line:</div>
                    <div>All copy rights are saved to the community of open source</div>
                </div>
          </footer>
    </body>
</html>