{% extends "layout.html" %}

{% block title %}

results

{% endblock %}


{% block main %}

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">تبدو بحالة جيدة</h4>
    <p>ننصح بإجراء هذا الفحص مرة واحدة اسبوعيًا علي الأقل</p>
    <hr>
  </div>

<div class="prevention">
  <h4 class="heading-of-precautions">تدابير الوقاية الأساسية من فيروس كورونا (كوفيد-19)</h4>
  <ul class="list-of-precautions">
    <li>
      <p>اغسل اليدين بانتظام   
        لماذا؟ إن تنظيف يديك بالماء والصابون أو فركهما بمطهر كحولي من شأنه أن يقتل الفيروسات التي قد تكون على يديك
      </p>
    </li>
    <li>
      <p>احرص على ممارسات النظافة التنفسية,

        احرص على تغطية الفم والأنف بثني المرفق أو بمنديل ورقي عند السعال أو العطس، ثم تخلص من المنديل الورقي فوراً بإلقائه في سلة مهملات مغلقة ونظف يديك بمطهر كحولي أو بالماء والصابون.</p>
    </li>
    <li>
      <p>تجنب الاقتراب كثيرا من الناس,

        احتفظ بمسافة لا تقل عن متر واحد (3 أقدام) بينك وبين أي شخص يسعل أو يعطس.</p>
    </li>
    <li>
      <p>تجنب لمس عينيك وأنفك وفمك</p>
    </li>
    <li>
      <p>إذا كنت تعاني من الحمى والسعال وصعوبة التنفس، التمس المشورة الطبية على الفور، فقد تكون مصاباً بعدوى الجهاز التنفسي أو حالة مرضية وخيمة أخرى. واتصل قبل الذهاب إلى مقدم الرعاية وأخبره إن كنت قد سافرت أو خالطت أي مسافرين مؤخراً.</p>
    </li>
    <li>
      <p> تابع المستجدات واتبع نصائح مقدمي الرعاية الصحية</p>
    </li>
  </ul>
</div>

<div class="logout-btn">
  <a class="btn btn-primary" href="/logout" role="button">خروج</a>
</div>

{% endblock %}