{% extends "layout.html" %}

{% block title %}

آليات العرل

{% endblock %}

{% block main %}

<div class="float-right" style="margin-bottom: 60px; text-align: right;">
    <h4 class="heading-of-precautions">- أطلع علي آليات العرل السليم19</h4>
    <br>
    <p class="mb-0">في حالة زيادة الأعراض ..قم بالاتصال علي الخط الساخن (105) ..والتزم بتعليمات العزل المنزلي حتي يتم التواصل معك .</p>
</div>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody style="text-align: right;">
      <tr>
        <th scope="row">1</th>
        <td><p>عدم الخروج من المنزل طوال فترة العزل المنزلي.</p>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td> <p> تخصيص مكان بالمنزل نظيف وجيد التهوية، وتجنب جميع الزيارات والأنشطة الاجتماعية.</p>
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>
            <p> عدم التنقل كثيرا من المكان المخصص للعزل إلى مكان آخر.</p>
        </td>
      </tr>

      <tr>
        <th scope="row">4</th>
        <td>
            <p> العزل يستمر لمدة 14 يومًا من تاريخ آخر اختلاط مباشر أو غير مباشر مع الحالات المصابة بفيروس كورونا المستجد.</p>
        </td>
      </tr>

      <tr>
        <th scope="row">5</th>
        <td>
            <p> يجب على المصاب ارتداء كمامة تناسب الوجه خاصة عند التعامل مع أحد أفراد الأسرة، والتخلص منها بعد الاستخدام بوضعها داخل كيس مغلق وإلقائه في سلة المهملات.</p>
        </td>
      </tr>

      <tr>
        <th scope="row">6</th>
        <td>
            <p> تغطية الأنف والفم أثناء العطس أو الكحة بمنديل ورقي والتخلص منه بوضعه داخل كيس مغلق وإلقائه بسلة المهملات.</p>
        </td>
      </tr>

      <tr>
        <th scope="row">7</th>
        <td>
            <p>غسل اليدين باستمرار بالماء والصابون لمدة 20 ثانية على الأقل أو تدليك اليدين بمطهر كحولي.</p>
        </td>
      </tr>

      <tr>
        <th scope="row">8</th>
        <td>
            <p>تناول وجبات الطعام بشكل منفصل عن أفراد الأسرة، واتباع نظام غذائي متوازن.</p>
        </td>
      </tr>

      <tr>
        <th scope="row">9</th>
        <td>
            <p>شرب الماء الدافئ بدلًا من المشروبات الباردة.</p>
        </td>
      </tr>

      <tr>
        <th scope="row">10</th>
        <td>
            <p>-عدم مشاركة الأدوات المنزلية الشخصية مثل الأطباق أو الأكواب أو المناشف مع أفراد الأسرة.</p>
        </td>
      </tr>

      <tr>
        <th scope="row">11</th>
        <td>
            <p> يجب غسل الأدوات المستخدمة جيدًا بالماء والصابون مع ضرورة ارتداء قفازات مطاطية أثناء الغسل.</p>
        </td>
      </tr>

      <tr>
        <th scope="row">12</th>
        <td>
            <p> يجب تنظيف جميع الأسطح التي يتم لمسها كثيرًا مثل (أجهزة الكمبيوتر المشتركة، مقابض الأبواب، الهواتف المنزلية، تجهيزات الحمام، الطاولات بجانب السرير).</p>        </td>
      </tr>

      <tr>
        <th scope="row">13</th>
        <td>
            <p>عدم الإفراط في تناول المضادات الحيوية.</p>        </td>
      </tr>

      <tr>
        <th scope="row">14</th>
        <td>
            <p> ضرورة قياس الحرارة كل 8 ساعات للشخص المعزول، وإذا ظهرت عليه أعراض صعوبة في التنفس أو إسهال أو ارتفاع في درجة حرارة الجسم.</p>        </td>
      </tr>

      <tr>
        <th scope="row">15</th>
        <td>
            <p>البقاء على بعد مترين على الأقل فى حالة ضرورة الاختلاط مع أفراد الأسرة.</p>
        </tr>
      <tr>
        <th scope="row">16</th>
        <td>
            <p> استخدام غرفة منفصلة للنوم وحمام منفصل إذا كان متاحًا.</p>      </tr>


      <tr>
        <th scope="row">17</th>
        <td>
            <p> التهوية الجيدة للمنزل.</p>  
        </tr>


    </tbody>
  </table>


{% endblock %}