{% extends "layout.html" %}

{% block title %}

    Record

{% endblock %}

{% block main %}

    <div class="parent w-50 m-auto text-center">
     
            <h3>قم بتسجيل صوت سعالك: </h3>
          <img src="/static/images/record2.webp" class="img-fluid ">
          <br>
          <button id="record" class="btn btn-primary my-5 px-4 rounded-0 text-capitalize " type="button">record</button>
          <button id="stop" class="btn btn-danger my-5 px-4 rounded-0 text-capitalize" type="button">stop</button>
     
 
    </div>
 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.0.0/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.0.0/addons/p5.sound.js"></script>
    <script src="/js/main.js"></script>

{% endblock %}